.grid {
    border: whitesmoke solid 2px;
    border-radius: 0.5em;
    margin: 0 0.4em;
    padding: 0.8em 0.8em;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
}

.neutral {
    background-color: #131313;
}

.misplaced {
    background-color: rgb(183, 183, 16);
}

.correct {
    background-color: green;
}

.absent {
    background-color: rgb(79, 79, 79);
}

.rotatable {
    animation: horizontal-flip 1.2s linear;
}

.rotatable:nth-child(1) {
  animation-delay: 0s;
}
.rotatable:nth-child(2) {
  animation-delay: 0.7s;
}
.rotatable:nth-child(3) {
  animation-delay: 1.4s;
}
.rotatable:nth-child(4) {
  animation-delay: 2.1s;
}
.rotatable:nth-child(5) {
  animation-delay: 2.8s;
}

/* Define the keyframes for the animation */
@keyframes horizontal-flip {
  0% {
    transform: rotateY(0deg); /* Starts flat */
  }
  50% {
    transform: rotateY(180deg); /* Flips halfway */
  }
  100% {
    transform: rotateY(360deg); /* Completes full rotation back to start */
  }
}