.grid {
    border: whitesmoke solid 2px;
    border-radius: 0.5em;
    margin: 0 0.5em;
    padding: 1.2em 0.8em;
    height: 2vh;
    width: 2vw;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
}

.neutral {
    background-color: #131313;
}

.misplaced {
    background-color: rgb(183, 183, 16);
}

.correct {
    background-color: green;
}

.absent {
    background-color: rgb(79, 79, 79);
}