.key {
    border: whitesmoke solid 2px;
    border-radius: 0.5em;
    margin: 0 0.5em;
    padding: 1.2em 0.8em;
    height: 2vh;
    width: 2vw;
    text-align: center;
    font-size: 16px;
    color: whitesmoke;
}

.key:hover {
    border-color: rgb(0, 213, 53);
    cursor: pointer;
}


