.key {
    border: whitesmoke solid 2px;
    border-radius: 0.5em;
    margin: 0 0.5em;
    padding: 0.8em 0.8em;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
}

.key:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: #131313;
    font-weight: 700;
}


