.keyboard {
    /* position: fixed;
    bottom: 0; */
    border: whitesmoke 1px solid;
    border-radius: 0.5em;
    color: whitesmoke;
    width: 800px;
    margin: auto;
    /* position: fixed; */
    /* bottom: 0%; */
    /* right: 15%; */
}

.keyboard-row {
    display: flex;
    margin: 0.5em 0;
    justify-content: center;
}